* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    width: 900px;
    height: 400px;
    box-shadow: 8px 8px 16px 2px rgba(0, 0, 0, 0.5)
}

.info img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 8%;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.55);
    border: 2px double #ffffffbb;
}

button {
    background-color: #3882f6 ;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    align-self: flex-start;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: orangered;
    border: 4px double white;
    padding: 3px 25px;
    font-variant: small-caps;
}

.header, .footer {
    background-color: #000000;
    color: white;
    height: 72px;
    display: flex;
    flex-shrink: 0;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 0 14%;
}

.hero {
    flex: 1;
    color: #F9FAF8;
    padding: 2% 14% 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 36px 100px 48px 0;
    max-height: 400px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 12px;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    padding-bottom: 48px;
    color: #E5E7EB;
}

.info {
    flex: 1;
    padding: 3% 14%;
    text-align: center;
    color: #ffffff;
    background-color: #0000009b;
}

.info-head {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    font-weight: 500;
}

.holder {
    display: flex;
    justify-content: space-between;
}

.quote {
    flex: 1;   
    padding: 5% 14%;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

.quote p {
    text-align: end;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
    padding-top: 24px;
}

.call {
    flex:1;
    padding: 5% 14%;
}

.container {
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4% 4%;
}

.inner-left {
    font-size: 26px;
    font-weight: 700;
}

.inner-left p {
    font-size: 20px;
    font-weight: 100;
    padding-top: 1%;
}

.footer {
    justify-content: center;
    align-items: center;
}